.ruby-version
.DS_Store
**/.DS_Store
node_modules
.idea
*.iml
log/*.log
log/*
pids/*
socks/*
REVISION
*.log
*.swp
*.swo
*~
builtAssets
npm-debug.log
tmp
.bundle/
config/runtime.json
public/assets
cache
bower_components
*.sql
tumblr.json
