* {
  font-family: "Source Sans Pro",sans-serif;
  background-color: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
  padding: 1em 0em 0em 1em;
  font-size: 2em;
}

.subtitle {
  padding: 1em 1em 1em 1.5em;
  font-size: 1.3em;
}
.copyright {
  padding: 0em 0em 0em 2em;
  font-size: 1em;
}

div, h1{ color:black; }

.description-list { color: red; }

.navcontainer ul {
  padding: 0em 1em 1em 2em;
  list-style-type: none;
}

.navcontainer ul li a {
  text-decoration: none;
  color: #000;
}

.navcontainer ul li a:hover {
  color: #fff;
  background-color: #000;
}

.navcontainer {
  padding-bottom: 1em;
}

.container {
  padding: 0em 0em 0em 1em;
}

.container div {
  padding: 0em 0em 0.6em 0em;
}

#bio a {
  text-decoration: underline;
}
