<body>
  <h1 class='title font-smoothing'> Tiago Fernandes</h1>
  <div id='denominators'>
    <h2 class='subtitle font-smoothing'><a href="#developer">Developer</a></h2>
    <h2 class='subtitle font-smoothing'><a href="#photographer">Photographer</a></h2>
  </div>
  <hr>
  <div id='navcontainer'>
    <ul  class='social-buttons '>
      <li><a href='https://github.com/elschroder' target='_blank'>github</a></li>
      <li><a href='https://twitter.com/schroder' target='_blank'>twitter</a></li>
      <li><a href='https://instagram.com/_schroder' target='_blank'>instagram</a></li>
      <li><a href='https://flickr.com/schroder' target='_blank'>flickr</a></li>
    </ul>
  </div>
    <div id="photographer" class='hovereffect'>
      <img src="/client/assets/images/IMG_0911.jpg" class='jumbotron'>
      <div class="overlay">
        <h2>yes i try to be a photographer</h2>
      </div>
    </div>
    <div class='temp-frame'></div>
    <div id="developer" class='hovereffect'>
      <img src="/client/assets/images/IMG_0911.jpg" class='jumbotron'>
      <div class="overlay">
        <h2>checking 2 images put together</h2>
      </div>
    </div>
</body>
