  <main>
    <section class="mosdule parsallax pasrallax-3">
      <div class="container" >
        <h1 class='title font-smoothing'>Tiago Fernandes</h1>
      </div>
    </section>
    <section class="module content">
      <div id='denominators'>
        <h2 class='subtitle font-smoothing'><a href="#developer">Developer</a></h2>
        <h2 class='subtitle font-smoothing'><a href="#photographer">Photographer</a></h2>
      </div>
      <hr>
      <div id='navcontainer'>
        <ul  class='social-buttons '>
          <li><a href='mailto:tf@tiago.tf' target='_blank'>mail</a></li>
          <li><a href='https://github.com/elschroder' target='_blank'>github</a></li>
          <li><a href='https://twitter.com/schroder' target='_blank'>twitter</a></li>
          <li><a href='https://instagram.com/_schroder' target='_blank'>instagram</a></li>
          <li><a href='https://flickr.com/schroder' target='_blank'>flickr</a></li>
        </ul>
      </div>
    </section>
    <section class="module content">
      <div class="container">
        <h2>Bio</h2>
        <br>
        <p>Born in Portugal, living in London. Geek and Beer lover that travels to feel alive.</p>
        <p>I have a MSc. in Computer Science. I wrote my dissertation on the subject of <a href="http://hdl.handle.net/1822/27820" target=_blank> weak secret key-agreement protocols</a>.</p>
      </div>
    </section>
        <section class="module parallax parallax-1">
          <div class="container" id='developer'>
            <h1>Developer</h1>
          </div>
        </section>
        <section class="module content">
          <div class="container">
            <p>Currently working on a startup, I face the challenge of full-stack role, been in charge of tasks throughall the specturm of work. I mainly code in Javascript, more specificaly Node.js and Backbone-Marionnette. Also do Ruby on Rails coding, using SQL (Postgres) and NoSQL databases (Mongo).</p>
            <p></p>
          </div>
        </section>
        <section class="module parallax parallax-3" id='photographer'>
          <div class="container">
            <h1>Photographer</h1>
          </div>
        </section>
        <section class="module content">
          <div class="container">
            <p>Amateur photographer with a passion on the mechanics of the photographic process.</p>
          </div>
        </section>
    </main>
