  <body>
    <h1 class='title font-smoothing'> Tiago Fernandes</h1>
    <div class='denominators'>
      <h2 class='subtitle font-smoothing'>Developer</h2>
      <h2 class='subtitle font-smoothing'>Photographer</h2>
    </div>
    <hr>
    <div id='navcontainer'>
      <ul  class='social-buttons '>
        <li><a href='https://github.com/elschroder' target='_blank'>github</a></li>
        <li><a href='https://twitter.com/schroder' target='_blank'>twitter</a></li>
        <li><a href='https://instagram.com/_schroder' target='_blank'>instagram</a></li>
        <li><a href='https://flickr.com/schroder' target='_blank'>flickr</a></li>
      </ul>
    </div>
  </body>
