  <main>
    <section class="mosdule parsallax pasrallax-3">
      <div class="container" >
        <h1 class='title font-smoothing'>Tiago Fernandes</h1>
      </div>
    </section>
    <section class="module content">
      <div id='denominators'>
        <h2 class='subtitle font-smoothing'><a href="#developer">developer</a></h2>
        <h2 class='subtitle font-smoothing'><a href="#photographer">Photos</a></h2>
      </div>
      <hr>
      <div id='navcontainer'>
        <ul  class='social-buttons '>
          <li><a href='mailto:hello@tiago.tf' target='_blank'>mail</a></li>
          <li><a href='https://github.com/tmsf' target='_blank'>github</a></li>
          <li><a href='https://twitter.com/schroder' target='_blank'>twitter</a></li>
          <li><a href='https://instagram.com/_schroder' target='_blank'>instagram</a></li>
          <li><a href='https://flickr.com/schroder' target='_blank'>flickr</a></li>
        </ul>
      </div>
      <div class="container">
        <h2>bio</h2>
        <br>
        <p>Born in Portugal, currently living in London. </p>
        <p><strong>Likes</strong>: Tech, open source, metal, beer, photography, and traveling.</p>
        <!-- <p><strong>Dislikes</strong>: I don't know, ... Bees?  </p>-->
        <p>I have a MSc. in Computer Science, with specialization on AI and Cryptography. My dissertation's subject was <a href="https://hdl.handle.net/1822/27820" target=_blank> weak secret key-agreement protocols</a>.</p>
        <p>I do volunteer work on a small but energetic Spanish NGO called <a href="https://babelpuntodeencuentro.org/es" target=_blank> Babel Punto de Encuentro </a>. They run a school in Senegal's capital Dakar, and do some great community work on Barcelona as well, providing counselling and psychological help to people who can't afford it.</p>
      </div>
    </section>
        <section class="module parallax parallax-3">
          <div class="container" id='developer'>
            <h1>developer</h1>
          </div>
        </section>
        <section class="module content">
          <div class="container">
            <p>When trying to understand where the term software developer came from, I reach to the conclusion that this term doesn't express what we do in a explicit way.
               If could change the common term I would refer to what we do not as software development but as <em>software gardening</em>. As there is barely any piece of software that would stay static. Software needs care and nourishment as a garden would.</p>
            <p></p>
            <p>Currently doing webdev using <em>Ruby on Rails</em> and <em>Javascript</em> across the stack, with <em>NodeJS</em>, <em>BackboneJS</em> and a bunch of other JS libs.</p>
          </div>
        </section>
        <section class="module parallax parallax-3" id='photographer'>
          <div class="container">
            <h1>photos</h1>
          </div>
        </section>
        <section class="module content">
          <div class="container">
            <p>New gallery <a href="http://photos.tiago.tf" target=_blank>here</a>.</p>
            <br>
            <p>Also, check out <a href="https://flickr.com/schroder" target=_blank>my flickr account</a>!</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </section>
    </main>
