  <body>
    <h1 class='title font-smoothing'> Tiago Fernandes</h1>
    <h2 class='subtitle font-smoothing'>Full Stack Developer</h2>
    <h2 class='subtitle font-smoothing'>Photographer</h2>
    <div>
      <ul class='main-role-list'>
        <li>Full Stack Developer</li>
        <ul class='description-list'>
          <li>Node.js</li>
          <li>Ruby on Rails</li>
          <li>Fancy Js libraries</li>
        </ul>
        <li>Photographer</li>
        <ul class='description-list'>
          <li>Street Photography</li>
          <li>Travel Photography - because I like to remember where I've been</li>
        </ul>
        <li>Lion Tamer</li>
      </ul>
    </div>
    <div>
      <ul class='social-buttons'>
        <li><a href='https://twitter.com/schroder' target='_blank'>twitter</a></li>
        <li><a href='https://instagram.com/_schroder' target='_blank'>instagram</a></li>
        <li><a href='https://github.com/elschroder' target='_blank'>github</a></li>
      </ul>
    </div>
    <div>
      <h2>Bio</h2>
      <p>Born in </p>
    </div>
  </body>
