<meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
<link rel='stylesheet' href='/client/assets/styles/main.css' type='text/css'>
<link rel='stylesheet' href='/client/assets/styles/style.css' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
<html>
  <head>
    <title>Tiago Fernandes</title>
  </head>
  {{{@body}}}
</html>
