
* {

  font-family: "Source Sans Pro";
  background-color: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.fosnt-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 5em;
}

.subtitle {
  margin-top: auto;
  text-align: center;
  font-weight: 300;
}
div, h1{
  color:black;
}
.description-list {
  color: red;
}
