
* {

  font-family: "Source Sans Pro",sans-serif;
  background-color: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    width: 20%;
    padding: 1;
    margin-left: 40%

}
.fosnt-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 5em;
}

.denominators {
  text-align: center;
}

.subtitle {
  margin-top: auto;
  font-weight: 300;
  text-decoration: none;
  display: inline;
  padding: .2em 1em;
}

div, h1{
  color:black;
}
.description-list {
  color: red;
}

/**/
#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #000;

/*
background-color: #036;

*/
}

#navcontainer ul li a:hover
{
color: #fff;

background-color: #000;
}
